Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
EditorPerProjectUserSettings
*.ini
Saved/Logs/Mult.log
Saved/Config/Windows/EditorPerProjectUserSettings.ini
*.png
Saved/Config/Windows/Engine.ini
*.log
Saved/Logs/Mult.log